/BANK_BARCLAYS/nbproject/private/
/BANK_CBZ/nbproject/private/
/BANK_FBC/nbproject/private/
/BANK_NMB/nbproject/private/
/BANK_STANBIC/nbproject/private/
/BANK_STANCHAT/nbproject/private/
/BANK_ZB/nbproject/private/
/VISA_PN/nbproject/private/
/MASTERCARD_PN/nbproject/private/
/MASTERCARD_PN/build/
/VISA_PN/build/
/BANK_BARCLAYS/build/
/BANK_STANBIC/build/